<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title> Le Cafe </title>
    <base href="/" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/node_modules/primeicons/primeicons.css" rel="stylesheet" />
    <link href="~/node_modules/primeng/resources/themes/nova-light/theme.css" rel="stylesheet" />
    <link href="~/node_modules/primeng/resources/primeng.min.css" rel="stylesheet" />

</head>
<body>

    @RenderBody()

    @RenderSection("Scripts", false)

</body>


</html>