<link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-1 logocuadro">
        <img class="logo" src="cafe.png" />
    </div>
    <div class="col-md-6">
      <br/>
        <h1>Le Cafe</h1>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<br class="b">
      <router-outlet></router-outlet>
<br>
<footer class="container">
    <div class="text-center">
        &copy; 2019 Le Cafe LLC
    </div>
</footer>

